<!-- this is where we will base the app -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title class='jumbotron'>OkDoodle</title>
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./styles/styles.css" />
    <link rel="icon"
      type="image/jpg"
      href="../assets/favicon.jpg">
  </head>
<body ng-app='okdoodle'>
<!-- nav bar -->
    <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#/">OkDoodle</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">
          <!-- "ui-sref" is the ui-router equivalent of "ng-href" -->
          <ul class="nav navbar-nav">
            <!-- TODO: change active class -->
            <!-- BUG: navbar not showing -->
            <li ng-class="{active: tab === 1}"><a ui-sref="signin" ng-click="tab = 1">Sign In</a></li>
            <li ng-class="{active: tab === 2}"><a ui-sref="signup" ng-click="tab = 2">Sign Up</a></li>
            <li ng-class="{active: tab === 3}"><a ui-sref="profile" ng-click="tab = 3">Profile</a></li>
             <li ng-class="{active: tab === 4}"><a ui-sref="browse" ng-click="tab = 4">Browse</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

      <!-- inject content here -->
      <div ui-view></div>



  </div>
    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span>doodle for love</p>
      </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

  <script src="lib/angular/angular.js"></script>
  <!-- we haven't used the ui-router yet -->
  <script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="app/services/services.js"></script>
  <script src="app/browse/browse.js"></script>
  <script src="app/auth/signin.js"></script>
  <script src="app/auth/signup.js"></script>
  <script src="app/profile/profile.js"></script>
  <script src="app/draw/draw.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="app/app.js"></script>

</body>
</html>
