/*styles */
/* TODO: refactor using an appropriate Bootstrap element */
#canvasHolder {
  border: 10px solid black;
  /* the fixed height and width could be a problem later if we change canvas size */
  height: 524px;
  width: 524px;
},
img {
background-image: url("../assets/shutterstock_57258430.png");
background-repeat: no-repeat;
width: auto; /*or your image's width*/
height: auto; /*or your image's height*/
margin: 0;
padding: 0;
}
