<!-- profile view -->
<!-- in lieu of a header, the tab will be set to 'active' in app.js -->
<div>
  <div class="container" id="hello">
    <h1>{{ profile.user }}'s profile</h1>
    <div class="container" ng-class="{active: profile.selected === 0}" ng-click="profile.changeSelect(0)">
      <canvas class='thumbnail' width='100' height='100'></canvas>
      <span> Photo 0 </span>
    </div>
    <div class="container" ng-class="{active: profile.selected === 1}" ng-click="profile.changeSelect(1)">
      <canvas class='thumbnail' width='100' height='100'></canvas>
      <span> Photo 1 </span>
    </div>
    <span>Profile sees: {{profile.selected}}</span>
  </div>
  <div ui-view>
  </div>
</div>
