
<div class="container">
<span>{{profile.selected}}</span>
  <div id="canvasHolder">
     <!-- <span my-draggable>Drag ME</span> -->
     <!-- NOTE: if using bitwise, canvas size should be divisible by pixel size -->
     <!-- ALSO: keep an eye on canvasHolder size if deciding to change sizing -->
    <canvas ng-model="canvas" canvas-draw id='drawing' width='504' height='504'></canvas>
  </div>
  <button ng-click="draw.save()">Save</button>
  <button ng-click="draw.clear()">Clear</button>
  <button ng-click="draw.eraser()">Eraser</button>
<!--   <button ng-click="draw.blue()">Blue</button> -->
  <li ng-repeat="color in draw.colors"
      ng-style="{'background-color':'#'+color}"
      ng-click="draw.setColor(color)"></li>
  </div>



<!-- cannvas has ng model? or no? i dunno tbh but would love a way to alias it ->
