<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
        </div>
        <div class="wrap">
          <p class="form-title">
              Sign In</p>
          <form class="login" ng-submit="auth.post()">
          <input type="text" placeholder="Username" ng-model="auth.username" />
          <input type="password" placeholder="Password" ng-model="auth.password"/>
          <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
