<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>
      </div>
      <div class="wrap">
        <p class="form-title">
            Sign Up</p>
        <form class="login" ng-submit="signup.postNew()">
        <input type="text" placeholder="Username" ng-model="signup.username" />
        <input type="password" placeholder="Password" ng-model="signup.password" />
        <input type="submit" value="Sign Up" class="btn btn-success btn-sm" />
        </form>
        </div>
    </div>
  </div>
</div>
